body {
	background-color: #4e5d6c;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-family: Roboto;
}

#title {
	background-color: #2a3542;
	padding: 10px;
	font-weight: bolder;
	border-radius: 15px;
}

#title>h1 {
	margin: 16px;
	font-size: 3em;
	color: #df691a;
	font-family: 'Press Start 2P';
}

#upload {
	margin: 25px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

#settings {
	margin: 10px 0px;
}

#settings>label {
	margin-left: 20px;
	margin-right: 5px;
}